
@import '{{ site.theme }}';


body {

background-image: url('/assets/images/rpi_background.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
  background-color: #282c34;
  color: #abb2bf; 
}

a {
  color: #61afef;
}

h1, h2 {
  color: #e06c75;
}
